body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

canvas {
    display: block;
}

#info {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-family: sans-serif;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    user-select: none;
}
